/* mission */
.ab-mission {
  padding-bottom: 120px;
}

/* teachers */
.ab-teachers {
  padding-bottom: 160px;
}
.ab-teachers__heading {
  grid-column: 1/16;
}
/* teachers--card layout */
.ab-teachers__card-wrapper.a {
  grid-column: 1/4;
}
.ab-teachers__card-wrapper.b {
  grid-column: 5/8;
}
.ab-teachers__card-wrapper.c {
  grid-column: 9/12;
}
.ab-teachers__card-wrapper.d {
  grid-column: 13/16;
}

/* values */
.ab-values {
  padding-bottom: 160px;
}
.ab-values > div:first-of-type {
  padding-bottom: 80px;
}

/* values--card layout */
.ab-values__card-wrapper.t0 {
  grid-column: 1/8;
}
.ab-values__card-wrapper.t1 {
  grid-column: 9/16;
}
