.auth-wrapper {
  height: calc(100% - 78px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 78px;
  padding: 0 var(--component-margin);
}
.auth {
  min-width: 290px;
  max-width: 350px;
  border-radius: var(--radius-sm);
  background-color: var(--color-base-white);
  box-shadow: 1px 1px 5px 1px var(--color-shadow);
  padding: var(--space-md);
}
.auth__heading {
  margin-bottom: 0;
  text-align: center;
  font-size: var(--text-lg);
}
.auth__top-message {
  text-align: center;
}
@media (min-width: 576px) {
  .auth {
    min-width: 350px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1450px) {
}
