/* Buttons */
.button {
  margin: var(--space-lg) auto;
  display: block;
  border: 0;
  color: var(--color-base-cream);
  padding: 15px 25px;
  border-radius: 100px;
  background-color: var(--color-base-green);
  transition: background-color 0.5s ease;
  font-weight: bold;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
.button:hover {
  background-color: var(--color-shade-green1);
}
.button--red {
  background-color: var(--color-base-red);
  color: var(--color-base-cream);
}

.button--red:hover {
  background-color: var(--color-shade-red1);
}

.button--yellow {
  background-color: var(--color-base-yellow);
  color: var(--color-base-dbrown);
}

.button--yellow:hover {
  background-color: var(--color-shade-yellow1);
}

/* Global Header Section */
.header {
  height: 78px;
  width: 100%;
  background-color: var(--color-base-cream);
  position: fixed;
  top: 0;
  margin: 0 0 78px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  /* box-shadow: 0 1px 6px var(--color-shadow); */
  z-index: 1500;
}
.header ul {
  list-style: none;
  margin: 0;
}
.header h1 {
  color: var(--color-base-green);
}
.header-space {
  height: 78px;
}
.header__logo {
  height: 45px;
}
/* right menu*/
.right-menu {
  padding: 0 150px 0 0;
}
.right-menu__list {
}
.right-menu__item {
}
.right-menu__link,
.right-menu__link:link {
  position: relative;
  color: var(--color-base-green);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 0;
}
.right-menu__link::before,
.right-menu__link:link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--color-shade-green1);
  bottom: 0;
  left: 0;
  /* animation */
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.right-menu__link:hover {
  color: var(--color-shade-green1);
}
.right-menu__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.right-menu__link > span {
  padding: 0 0 0 10px;
}
/* 
* Hamburger Menu System 
*/
.mburger__checkbox {
  display: none;
}

.mburger__button {
  background-color: var(--color-base-cream);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: fixed;
  top: 1.6vh;
  right: 2vw;
  z-index: 2000;
  /* box-shadow: 0 3px 10px var(--color-shadow); */
  text-align: center;
  cursor: pointer;
}

.mburger__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 1.7vh;
  right: 2.2vw;
  background-image: radial-gradient(
    var(--color-tint-green1) 0%,
    var(--color-base-green) 40%,
    var(--color-shade-green1) 70%
  );
  z-index: 1900;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.mb__link,
.mb__link:link,
.mb__link:visited {
  font-size: 2rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 0;
  color: var(--color-base-cream);
  text-decoration: none;
  position: relative;
  margin-bottom: 2rem;
  letter-spacing: 0.2ch;
}
.mb__link:hover,
.mb__link:active {
  cursor: pointer;
  color: var(--color-base-cream);
}

.mb__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color-base-cream);
  bottom: 0;
  left: 0;
  /* animation */
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.mb__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  background-color: var(--color-base-cream);
}
/*secondary links*/
.mb__link--secondary {
  font-size: 1.2rem;
  letter-spacing: 0.05ch;
  padding: 0;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.mburger__subheading {
  font-size: 1.4rem;
  color: var(--color-base-yellow);
  margin-bottom: 0.8rem;
}
.mburger__subblock {
  margin-bottom: 1.6rem;
}
.mburger__social {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  max-width: 400px;
}
.mburger__social-link {
  color: var(--color-base-cream);
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}
.mburger__social-link:hover {
  color: var(--color-base-green);
  background-color: var(--color-base-cream);
  cursor: pointer;
}

/* Hamburger Menu Link System */

.mburger__menu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  z-index: 1950;
  transition: all 0.8s;
  display: flex;
  justify-content: space-between;
  padding: 78px 20%;
}

/* left side */
.mburger__left {
}

/* .mburger__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
} */

.mburger__item {
}
.mburger__link,
.mburger__link:link,
.mburger__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  color: var(--color-base-cream);
  text-decoration: none;
  text-transform: uppercase;
  /* background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%; */
  transition: all 0.4s;
}

.mburger__link:hover,
.mburger__link:active {
  color: var(--color-base-yellow);
  cursor: pointer;
}

/* functionality */
.mburger__checkbox:checked ~ .mburger__background {
  transform: scale(90);
}
.mburger__checkbox:checked ~ .mburger__menu {
  opacity: 1;
  width: 100%;
  right: 0;
}

/* styling hamb.mburger__icon */
.mburger__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mburger__icon,
.mburger__icon::before,
.mburger__icon::after {
  width: 2.2rem;
  height: 3px;
  background-color: var(--color-base-green);
  display: inline-block;
}

.mburger__icon::before,
.mburger__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.mburger__icon::before {
  top: -0.8rem;
}
.mburger__icon::after {
  top: 0.8rem;
}

.mburger__button:hover.mburger__icon:before {
  top: -1rem;
}
.mburger__button:hover.mburger__icon::after {
  top: 1rem;
}

.mburger__checkbox:checked + .mburger__button .mburger__icon {
  background-color: transparent;
}

.mburger__checkbox:checked + .mburger__button .mburger__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.mburger__checkbox:checked + .mburger__button .mburger__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/*  content other than header wrapper */
.content-wrapper {
  padding-top: 78px;
}

/*  
* Base grids, containers  & figure / classes 
*/

.bgrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
/* container sit within grid */
.bcontainer {
  grid-column: span 13;
  margin: 0 var(--component-margin);
}
/* centered text container always within bcontainer */
.btext {
  padding: 0 var(--component-padding);
  grid-column: span 13;
}
.full-image {
  grid-column: span 13;
}
.three-quarter-image {
  grid-column: span 13;
}
.text-width-image {
  padding: 0 var(--component-padding);
  grid-column: span 13;
}

@media (min-width: 576px) {
  .btext {
    padding: 0;
    grid-column: 3 / 11;
  }
  .three-quarter-image {
    grid-column: 2/12;
  }
  .text-width-image {
    padding: 0;
    grid-column: 3 / 11;
  }
}

@media (min-width: 992px) {
  .btext {
    grid-column: 4 / 10;
  }
  .three-quarter-image {
    grid-column: 3/11;
  }
  .text-width-image {
    grid-column: 4 / 10;
  }
}

@media (min-width: 1450px) {
  .btext {
    grid-column: 5 / 9;
  }
  .three-quarter-image {
    grid-column: 4/10;
  }
  .text-width-image {
    grid-column: 5 / 9;
  }
}
/* 
* Front facing footer
*/
.bfooter {
  background-color: var(--color-base-green);
  color: var(--color-base-cream);
  min-height: 500px;
}
