/*
Media queries
-----------------
small
- any code not in media query

medium
@media (min-width: 576px) {
}

large
@media (min-width: 992px) {
}

extra large
@media (min-width: 1450px) {
}
*/
:root {
  /* base brand colors */
  --color-base-green: rgb(63, 115, 8);
  --color-base-limegreen: #7aa700;
  --color-base-cream: rgb(244, 241, 235);
  --color-base-orange: #fe7108;
  --color-base-brown: #403734;
  --color-base-text: #352f2c;
  /* secondary brand colors */
  --color-sec-lightlime: #b1d121;
  --color-sec-darklime: #678e00;
  --color-sec-olive: #3e5e1f;
  --color-sec-palegreen: #c6d5a1;
  --color-sec-lightlime: #b1d121;
  --color-sec-lightorange: #fe9600;
  --color-sec-red: rgb(171, 18, 28);

  /* --color-base-cream: rgb(250, 245, 234); */
  /* --color-base-cream: #f5fdef; */
  --color-base-dbrown: rgb(58, 35, 0);
  --color-base-lbrown: rgb(109, 66, 0);
  --color-base-yellow: rgb(255, 193, 37);
  --color-base-yellow2: #f2ad00;
  /* play */
  /* --color-base-orange: #f95422; */
  --color-base-lightorange: #fe9600;
  --color-base-bluegreen: #0c4a46;
  --color-base-lightgreen: #c6d5a1;
  --color-base-darkgreen: #32604f;
  --color-base-slate: #4c483e;
  --color-base-darkslate: #2d2223;
  /* --color-base-bluegreen2: #097472; */
  --color-base-tint-green: #d8ddcd;
  --color-base-orange2: #fc5c00;
  --color-base-black: #000;
  /* tints and shades */
  --color-shade-green1: rgb(56, 103, 7);
  --color-shade-green2: rgb(50, 92, 6);
  --color-shade-green6: rgb(25, 46, 3);
  --color-shade-red1: rgb(153, 16, 25);
  --color-shade-yellow1: rgb(229, 173, 33);
  --color-tint-green1: rgb(82, 129, 57);
  --color-tint-green6: rgb(229, 231, 216);
  /* base text colors */
  --color-text-dark: var(--color-base-dbrown);
  --color-text-heading-dark: var(--color-base-green);
  --color-text-light: var(--color-base-cream);
  --color-text-heading-light: var(--color-base-yellow);

  /*shadows*/
  --color-shadow: rgba(0, 0, 0, 0.2);
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-base-cream);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* ----------------------------- 
Typography and Spacing
-------------------------------- */
@font-face {
  font-family: "Knewave";
  src: url("/fonts/knewave/knewave.regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* font families */
  --font-jp-primary: "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ ゴシック",
    "MS Gothic", "HiraKakuProN-W3", "TakaoExゴシック", "TakaoExGothic",
    "MotoyaLCedar", "Droid Sans Japanese", sans-serif;
  --font-en-primary: "Montserrat", sans-serif;

  /* base text sizes IMPORTANT */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;

  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  --text-xxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio)
  );
  --text-xxxl: calc(
    1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio) * var(--text-scale-ratio) *
      var(--text-scale-ratio)
  );
  /* base text values */
  --text-line-height: 2;
  --text-letter-spacing: 2.6px;

  /* heading values */
  --heading-line-height: 2;
  --heading-letter-spacing: 2px;

  /*  base space unit IMPORTANT */
  --space-unit: 1em;

  /*  spacing unit */
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));

  /* components padding */
  --component-margin: var(--space-sm);
  --component-padding: var(--space-sm);
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-jp-primary);
  color: var(--color-base-text);
}
.en {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
form,
legend {
  color: var(--color-base-green);
  line-height: var(--heading-line-height);
}
/* heading & text styles */
.text--xxxl {
  font-size: var(--text-xxxl);
  margin-bottom: var(--space-lg);
}
h1,
.text--xxl {
  font-size: var(--text-xl);
  margin-bottom: var(--space-md);
}
h2,
.text--xl {
  font-size: var(--text-lg);
  margin-bottom: var(--space-sm);
}
h3,
.text--lg {
  font-size: var(--text-md);
  margin-bottom: var(--space-xs);
}
h4,
.text--md {
  font-size: var(--text-base-size);
  margin-bottom: var(--space-xxs);
}
p {
  line-height: var(--text-line-height);
  letter-spacing: var(--text-letter-spacing);
  margin-bottom: var(--space-lg);
  font-weight: 300;
}

@media (min-width: 992px) {
  :root {
    --text-base-size: 1.1em;
    --text-scale-ratio: 1.3;
  }
}
/* links */
a,
a:link,
a:visited {
  color: var(--color-base-green);
  text-decoration: none;
  display: inline-block;
  position: relative;
}
a::before,
a:link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--color-base-green);
  bottom: 2px;
  left: 0;
}
a:hover,
a:active {
  color: var(--color-shade-green2);
}
a:hover::before,
a:active::before {
  background-color: var(--color-shade-green2);
  height: 2px;
}

/* Containers */
.text-container {
  margin: 0 auto;
  max-width: 700px;
}

/* Lists */
ul,
ol {
  margin: 0 0 var(--space-lg) 0;
  padding: 0;
  list-style-position: inside;
  line-height: var(--text-line-height);
}

/* ----------------------------- 
Design Elements
-------------------------------- */
:root {
  /* border radiu */
  --radius-base: 25px;
}
