/* ----------------------------- 
Containers and Iframes
-------------------------------- */
.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 var(--component-padding);
}

.text-container {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 var(--component-padding);
}
.full-width-container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.youtube-iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  border: none;
}
@media screen and (orientation: portrait) {
  .youtube-short {
    aspect-ratio: 9 / 16;
  }
}

/* ----------------------------- 
Headings
-------------------------------- */
.bsection-group {
  margin-bottom: 50px;
}
.bsection-group__heading {
  font-size: var(--text-sm);
  font-family: var(--font-en-primary);
  letter-spacing: 3px;
  line-height: 1;
  font-weight: 600;
  margin: 0 0 var(--space-lg) 0;
  padding: 0 0 0 var(--space-xs);
  text-transform: capitalize;
  color: var(--color-base-orange);
}
/* .bsection-group__heading > span:first-child {
  color: var(--color-base-yellow);
} */
.bsection-group__subheading {
  font-size: var(--text-lg);
  font-weight: 600;
  color: var(--color-base-green);
  margin: 0 0 var(--space-sm) 0;
  line-height: 1;
}
/* ----------------------------- 
Block quotes
-------------------------------- */
.bquote {
  padding: var(--space-md) 0 var(--space-xl) 0;
  display: flex;
  justify-content: center;
}
.bquote__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--color-base-text);
  border-bottom: 1px solid var(--color-base-text);
  width: 80%;
  padding: var(--space-md);
}
.bquote blockquote {
}

/* ----------------------------- 
Buttons
-------------------------------- */
.button {
  margin: var(--space-lg) auto;
  display: block;
  border: 0;
  color: var(--color-base-text);
  padding: 10px 20px;
  border-radius: 100px;
  background-color: var(--color-base-limegreen);
  transition: all 0.5s ease;
  font-weight: bold;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
.button:hover {
  background-color: var(--color-sec-darklime);
}

.button--orange {
  background-color: var(--color-base-orange);
  color: var(--color-base-text);
}

.button--yellow:hover {
  background-color: var(--color-base-orange);
}
@media (min-width: 576px) {
  .button {
    margin: var(--space-sm) auto;
    padding: 15px 25px;
  }
}

/* ----------------------------- 
Global Header
-------------------------------- */

.header {
  height: 78px;
  width: 100%;
  background-color: var(--color-base-cream);
  position: fixed;
  top: 0;
  margin: 0 0 78px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--component-margin);
  /* box-shadow: 0 1px 6px var(--color-shadow); */
  z-index: 1500;
}
.header ul {
  list-style: none;
  margin: 0;
}
.header h1 {
  color: var(--color-base-green);
}
.header-space {
  height: 78px;
}
.header__logo {
  height: 30px;
}

/* right menu*/
.right-menu {
  padding: 0 115px 0 0;
}
.right-menu__nav {
  display: none;
}
.right-menu__list {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}
.right-menu__link,
.right-menu__link:link {
  position: relative;
  color: var(--color-base-green);
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 5px 0 5px 0;
}
.right-menu__link::before,
.right-menu__link:link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--color-base-green);
  bottom: 2px;
  left: 0;
  /* animation */
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.right-menu__link:hover {
  color: var(--color-base-green);
}
.right-menu__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.right-menu__link > span {
  padding: 0 0 0 10px;
}
a.right-menu__register-btn {
  padding: 2px 10px;
  border: 1px solid var(--color-base-green);
  background-color: var(--color-base-cream);
  color: var(--color-base-green);
  border-radius: var(--radius-xs);
  line-height: 1.7;
  transition: all 0.3s ease-in-out;
}
a.right-menu__register-btn::before {
  transition: all 0.3s ease-in-out;
}

a.right-menu__register-btn::before {
  content: none;
}
a.right-menu__register-btn:hover {
  box-shadow: 0px 0px 0px 1px var(--color-base-green);
}
.right-menu__form {
  padding: 0;
}
.right-menu__form > button {
  position: relative;
  background-color: transparent;
  border: none;
  color: var(--color-base-green);
  line-height: var(--text-line-height);
  border-radius: var(--radius-xs);
  cursor: pointer;
}
.right-menu__form > button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: var(--color-sec-olive);
  bottom: 2px;
  left: 0;
  /* animation */
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.right-menu__form > button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* 
* Main Hamburger Menu System 
*/
.mburger__checkbox {
  display: none;
}

.mburger__button {
  background-color: var(--color-base-cream);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: fixed;
  top: 11px;
  right: 38px;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease-out 0.2s;
  transform: scale(1);
}

.mburger__background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 15px;
  right: 42px;
  background-color: var(--color-base-cream);
  z-index: 1900;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

/* functionality */
.mburger__checkbox:checked ~ .mburger__background {
  transform: scale(90);
}
.mburger__checkbox:checked ~ .mburger__menu {
  opacity: 1;
  width: 100%;
  right: 0;
}

/* styling hamb.mburger__icon */
.mburger__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mburger__icon,
.mburger__icon::before,
.mburger__icon::after {
  width: 2.2rem;
  height: 3px;
  background-color: var(--color-base-green);
  display: inline-block;
}

.mburger__icon::before,
.mburger__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.mburger__icon::before {
  top: -0.8rem;
}
.mburger__icon::after {
  top: 0.8rem;
}

.mburger__button:hover.mburger__icon:before {
  top: -1rem;
}
.mburger__button:hover.mburger__icon::after {
  top: 1rem;
}

.mburger__checkbox:checked + .mburger__button {
  transition: background-color 0.2s ease-out;
  background-color: var(--color-base-cream);
}

.mburger__checkbox:checked + .mburger__button .mburger__icon {
  background-color: transparent;
}

.mburger__checkbox:checked + .mburger__button .mburger__icon::before {
  top: 0;
  transform: rotate(135deg);
  background-color: var(--color-base-green);
}
.mburger__checkbox:checked + .mburger__button .mburger__icon::after {
  top: 0;
  transform: rotate(-135deg);
  background-color: var(--color-base-green);
}
/* menu text containter */
.mburger__menu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  z-index: 1950;
  transition: all 0.8s;
  display: flex;
  justify-content: center;
  padding: 78px var(--component-padding);
}

/* left side main menu items and links  */
.mb__link,
.mb__link:link,
.mb__link:visited {
  display: inline-block;
  font-size: var(--text-md);
  font-weight: 600;
  padding: 0;
  color: var(--color-base-green);
  text-decoration: none;
  position: relative;
  margin-bottom: var(--space-lg);
  letter-spacing: 0.2ch;
}
.mb__link:hover,
.mb__link:active {
  cursor: pointer;
  color: var(--color-base-green);
}

.mb__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--color-base-green);
  bottom: 0;
  left: 0;
  /* animation */
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.mb__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  background-color: var(--color-base-green);
}

/* right side and secondary links*/
.mburger__right {
  padding: 0 0 0 var(--space-lg);
}
.mb__link--secondary {
  font-size: 0.7rem;
  letter-spacing: 0.05ch;
  padding: 0;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.mburger__subheading {
  font-size: 0.8rem;
  color: var(--color-base-limegreen);
  margin-bottom: 0.8rem;
}
.mburger__subheading:first-child {
  padding-top: var(--space-xs);
}
.mburger__subblock {
  margin-bottom: 1.6rem;
}
.mburger__social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  max-width: 400px;
}
.mburger__social-link {
  color: var(--color-base-green);
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 var(--space-sm) 0;
  transition: all 0.3s ease-in-out;
}
.mburger__social-icon {
  height: 20px;
  width: 20px;
}
.mburger__social-link:before {
  content: none;
}
.mburger__social-link:hover {
  color: var(--color-base-cream);
  background-color: var(--color-base-green);
  cursor: pointer;
}

@media (min-width: 576px) {
  .header__logo {
    height: 34px;
  }
  .mburger__social {
    flex-direction: row;
  }
  .mb__link {
    font-size: var(--text-lg);
    margin-bottom: 2rem;
  }
  .mburger__right {
    padding: 0 0 0 var(--space-xxl);
  }
  .mburger__subheading {
    font-size: var(--text-sm);
  }
  .mburger__subheading:first-child {
    padding-top: var(--space-sm);
  }
  .mb__link--secondary {
    font-size: var(--text-sm);
    margin-bottom: var(--space-sm);
  }
  .mburger__social-link {
    margin: 0 var(--space-xs) 0 0;
  }
}

@media (min-width: 992px) {
  .right-menu__nav {
    display: block;
  }
  /* hamburger */
  .mb__link {
    font-size: 2rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem;
  }
  .mburger__menu {
    padding: 78px 10%;
  }
  .mburger__subheading {
    font-size: 1.4rem;
  }
  .mb__link--secondary {
    font-size: 1.2rem;
  }
  .mburger__social {
    max-width: 400px;
  }
  .mburger__social-link {
    color: var(--color-base-green);
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
  }
}

@media (min-width: 1450px) {
}

/* ----------------------------- 
Base grids, containers  & figure/ img / classes
-------------------------------- */
.content-wrapper {
  padding-top: 78px;
}
.bgrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
/* container sit within grid */
.bcontainer {
  grid-column: span 13;
  margin: 0 var(--component-margin);
}
/* centered text container always within bcontainer */
.btext {
  padding: 0 var(--component-padding);
  grid-column: span 13;
}
.full-image {
  grid-column: span 13;
}
.three-quarter-image {
  grid-column: span 13;
}
.text-width-image {
  padding: 0 var(--component-padding);
  grid-column: span 13;
}

@media (min-width: 576px) {
  .btext {
    padding: 0;
    grid-column: 3 / 11;
  }
  .three-quarter-image {
    grid-column: 2/12;
  }
  .text-width-image {
    padding: 0;
    grid-column: 3 / 11;
  }
}

@media (min-width: 992px) {
  .btext {
    grid-column: 4 / 10;
  }
  .three-quarter-image {
    grid-column: 3/11;
  }
  .text-width-image {
    grid-column: 4 / 10;
  }
}

@media (min-width: 1450px) {
  .btext {
    grid-column: 5 / 9;
  }
  .three-quarter-image {
    grid-column: 4/10;
  }
  .text-width-image {
    grid-column: 5 / 9;
  }
}
/* ----------------------------- 
Front  Header
-------------------------------- */
.footer {
  background-color: var(--color-base-brown);
  min-height: 500px;
  padding: 2rem 0;
  border-top: 5px solid;
  border-image: linear-gradient(
      to right,
      var(--color-base-limegreen) 50%,
      var(--color-base-orange) 50%
    )
    100% 1;
}
.footer__top {
  display: flex;
}
.footer__branding-col {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
}
.footer__branding-col h2 {
  color: var(--color-base-cream);
  line-height: 1.2;
  margin: 0 0 1rem 0;
}
.footer__social {
  margin-top: auto;
  display: flex;
  gap: var(--space-lg);
}
.footer__social-icon {
  width: 30px;
  height: 30px;
}
.footer__col h3 {
  color: var(--color-sec-darkcream);
  margin: 20px 0 10px 0;
  line-height: 1.2;
}
.footer__branding-col p {
  color: var(--color-sec-darkcream);
}
.footer__col {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}
.footer__col a,
.footer__branding-col a,
.footer__branding-col h2 {
  color: var(--color-base-cream);
}
.footer__col a::before,
.footer__branding-col a::before {
  content: none;
}

/* ----------------------------- 
Forms
-------------------------------- */

form {
  display: flex;
  flex-direction: column;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.input-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--space-lg);
  position: relative;
}

[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  margin: 0;
  padding: var(--space-xxxs) var(--space-xs);
  border: 1px solid var(--color-base-green);
  border-radius: var(--radius-xs);
  background-blend-mode: luminosity;
  box-shadow: none;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--color-base-text);
  transition: box-shadow 200ms, border-color 50ms ease-out,
    background-color 50ms ease-out, color 50ms ease-out;
}

[type="text"]:focus,
[type="password"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="week"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="color"]:focus,
textarea:focus {
  box-shadow: 0px 0px 1px 2px var(--color-base-green);
  outline: 1px solid var(--color-base-green);
}

[type="text"][aria-invalid="true"],
[type="password"][aria-invalid="true"],
[type="date"][aria-invalid="true"],
[type="datetime"][aria-invalid="true"],
[type="datetime-local"][aria-invalid="true"],
[type="month"][aria-invalid="true"],
[type="week"][aria-invalid="true"],
[type="email"][aria-invalid="true"],
[type="number"][aria-invalid="true"],
[type="search"][aria-invalid="true"],
[type="tel"][aria-invalid="true"],
[type="time"][aria-invalid="true"],
[type="url"][aria-invalid="true"],
[type="color"][aria-invalid="true"],
textarea[aria-invalid="true"] {
  border-color: var(--color-sec-red);
}

textarea {
  display: block;
  min-height: 50px;
  max-width: 100%;
}

textarea[rows] {
  height: auto;
}
label {
  margin: 0;
  color: var(--color-base-text);
  text-transform: capitalize;
}
.form-validation-errors {
  /* ul element usually */
  margin: 0;
  color: var(--color-sec-red);
  font-size: var(--text-xs);
  list-style: none;
}

.form-nonfield-errors {
  background-color: var(--color-sec-paleorange);
  border-radius: var(--radius-xs);
  padding: var(--space-xxxs) var(--space-xs);
  list-style: none;
  color: var(--color-sec-red);
}
.form-nonfield-errors ul {
  margin: 0;
  list-style: none;
  font-size: var(--text-sm);
}
.required::after {
  content: "*";
  color: var(--color-base-orange);
  padding-left: 5px;
}
.submit {
  width: 100%;
  border-radius: var(--radius-xs);
  margin: 20px 0;
  text-transform: capitalize;
  padding: 6px 15px;
}
