/**
* Blog List Page Styles
*/
.bl-cats-wrapper {
  background-color: var(--color-brand-white);
  padding: 10px 60px;
  border-radius: var(--radius-medium);
  margin-bottom: 80px;
}
.bl-cats-inner {
  display: flex;
  align-items: center;
}
.bl-cats-aside {
  min-width: 160px;
  margin-right: 40px;
  padding: 60px 0;
}
.bl-cats {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.bl-cat {
  display: flex;
  flex-flow: wrap;
  gap: var(--space-md);
}
a.bl-cat {
  display: inline-block;
  text-decoration: none;
  border: 2px solid var(--color-brand-brown);
  color: var(--color-brand-brown);
  font-size: var(--r14px);
  padding: 5px 20px;
  border-radius: 100px;
  background-color: var(color-base-white);
  width: max-content;
}
a.bl-cat--active {
  background-color: var(--color-brand-brown);
  color: var(--color-brand-white);
}
a.bl-cat::before {
  content: none;
}

.bl-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 120px;
  padding-bottom: 80px;
}
a.bl-post-link {
  text-decoration: none;
}
a.bl-post-link::before {
  content: none;
}
.bl-post {
  display: flex;
  max-width: 750px;
  background-color: var(--color-brand-white);
  border-radius: var(--radius-medium);
}
.bl-post__img-wrapper {
  flex: 1 1 40%;
  border-radius: var(--radius-medium) 0 0 var(--radius-medium);
  position: relative;
}
.bl-post__img-wrapper > img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius-medium) 0 0 var(--radius-medium);
}
.bl-post__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-brand-green);
  border-radius: var(--radius-medium) 0 0 var(--radius-medium);
  color: var(--color-brand-white);
  width: 0;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in, width 0.5s ease-in;
}
.bl-post__overlay-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 0;
  height: 100%;
  transition: opacity 0.15s ease-in, width 0.25s ease-in;
}
/* hover effects */
.bl-post-link:hover .bl-post__overlay {
  width: 100%;
  opacity: 90%;
  transition: opacity 0.3s ease-out, width 0.2s ease-out;
}
.bl-post-link:hover .bl-post__overlay-inner {
  opacity: 90%;
  width: 100%;
  transition: opacity 0.6s ease-out, width 0.2s ease-out;
}
/* ---end hover----- */
.bl-post__overlay-inner > p {
  margin: 0;
}
.bl-post__overlay-inner > p:first-of-type {
  font-family: var(--font-en-primary);
  font-weight: 600;
  font-size: 32px;
}
.bl-post__overlay-inner > p:last-of-type {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
.bl-post__overlay-inner > svg {
  height: 40px;
  width: 40px;
}
.bl-post__details {
  flex: 1 1 60%;
  padding: 40px;
}
.bl-post__details > p {
  margin: 0;
  font-size: var(--r18px);
  font-family: var(--font-en-primary);
  font-weight: 600;
  color: var(--color-brand-green);
}
.bl-post__details > p > span {
  margin-left: 15px;
  font-family: var(--font-jp-primary);
  font-weight: 300;
  letter-spacing: 0;
}
.bl-post__details > h2 {
  margin: 0;
  font-size: var(--r20px);
  font-weight: 600;
  color: var(--color-brand-brown);
}

/**
* Blog detail page 
*/
.l-header {
  margin: 70px 0 30px 0;
}
/* subheader */
.bl-detail__sh {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
  gap: 30px;
}
.bl-detail__sh__author {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bl-detail__sh__author > a::before {
  content: none;
}
.bl-detail__sh__author img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.bl-detail__sh__author p {
  margin: 0 0 0 10px;
}
.bl-detail__sh__date,
.bl-detail__sh__learn {
  color: var(--color-brand-orange);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bl-detail__sh__date p,
.bl-detail__sh__learn p {
  margin: 0 0 0 10px;
  color: var(--color-brand-brown);
  font-size: var(--r16px);
}
a.bl-detail__sh__cat::before {
  content: none;
}
.bl-detail__sh__cat {
  border: 1px solid var(--color-brand-brown);
  font-size: var(--r16px);
  color: var(--color-brand-brown);
  padding: 5px 15px;
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
}
.bl-detail__sh__cat:hover {
  color: var(--color-brand-white);
  background-color: var(--color-brand-brown);
}
/* header image */
.bl-detail__header-img {
  width: 100%;
  margin-bottom: 120px;
}
.bl-detail__header-img > img {
  width: 100%;
  height: auto;
}
/* main blog lesson body */
.bl-detail__figure {
  margin-bottom: 60px;
}
.bl-detail__figure > figcaption {
  margin-top: 20px;
  font-size: var(--font-size-s);
}
.bl-detail__figure.full-width {
  width: 100%;
}
.bl-detail__figure.full-width > figcaption {
  margin-left: 120px;
}
.bl-detail__figure.beyond-text {
  margin: 0 auto 60px auto;
  max-width: 1232px;
}
/* block quote */
.bl-detail__bquote {
  position: relative;
  background-color: var(--color-brand-beige);
  padding: 60px;
  margin: 60px 0 60px 0;
  border-radius: 20px;
}
.bl-detail__bquote > blockquote > p {
  margin-bottom: 30px;
}
.bl-detail__bquote::before {
  content: "“";
  color: var(--color-brand-brown);
  position: absolute;
  font-size: 12rem;
  top: -101px;
  left: -23px;
}
/* videos */
.bl-detail__youtube {
  margin: 60px auto 60px auto;
  max-width: 1232px;
}
.bl-detail__youtube > iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  border: none;
}
@media screen and (orientation: portrait) {
  .bl-detail__youtube .youtube-short {
    aspect-ratio: 9 / 16;
  }
}

/* right wrong block */
.bl-detail__wr {
  position: relative;
  border: 2px solid var(--color-brand-brown);
  border-radius: 20px;
  background-color: var(--color-brand-white);
  padding: 60px 40px 40px 40px;
  margin-bottom: 60px;
}
.bl-detail__wr__header {
  position: absolute;
  background-color: var(--color-brand-brown);
  color: var(--color-brand-white);
  font-weight: var(--font-w-semi-bold);
  padding: 6px 60px 6px 20px;
  border-radius: 20px 0 20px 0;
  top: 0;
  left: -2px;
}

/* conversation block */
.l-list-wrapper {
  padding: 4rem 0 5rem 0;
}
.l-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);
}
.l-list > a::before {
  content: none;
}
.l-list-link {
  flex: 0 0 49%;
}
.l-list-item {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 5px 0px var(--color-shadow);
}
.l-list-item__img {
  max-width: 40%;
  height: auto;
}
.l-list-item__img > img {
  object-fit: fill;
}
.l-list-item > h3 {
  color: var(--color-base-text);
}
.l-list-item__details {
  padding: var(--space-xxs) var(--space-sm);
}
.l-list-item__details > h3 {
  color: var(--color-base-green);
  font-size: var(--text-md);
  margin: 0;
}
.l-list-item__details > p {
  font-size: var(--text-sm);
  color: var(--color-base-text);
  margin: 0;
  line-height: 1.3;
}
.l-list-item__details > span {
  font-size: var(--text-sm);
  color: var(--color-base-lightgreen);
}

/* 
* Lesson Detail Page 
*/
.l-detail-header {
}
.l-detail-header__img {
  width: 100%;
}
.l-detail-image {
  padding: var(--space-md) 0;
}
.l-detail-image figcaption {
  padding: var(--space-xxs) var(--component-padding);
}
/* Lesson Detail Conversation block */
.l-conv {
  background-color: white;
  padding: var(--space-sm);
  margin: var(--space-lg) 0;
  border: 1px solid var(--color-base-limegreen);
}
.l-conv__title {
  text-align: center;
}
.l-conv__table td {
  vertical-align: top;
  padding: var(--space-xxs);
}
.l-detail__img-block {
  margin: 40px 0;
}
/* Lesson Detail Multiple Choice block */
.l-mc-questions {
  margin: 40px 0;
  padding: 50px 0;
  border-top: 1px var(--color-base-green) solid;
  border-bottom: 1px var(--color-base-green) solid;
}
.l-mc-questions__title {
  text-align: center;
}
.l-mc-questions__instructions {
  font-size: var(--text-xs);
}
.l-question {
  cursor: pointer;
}
.l-question__question {
  margin: 0 0 var(--space-xs) 0;
}
.l-question__choices {
  padding: 0 0 20px 40px;
}
.l-question__choice {
  padding: var(--space-xxs) 0;
  margin: var(--space-xxs) 0;
  position: relative;
  cursor: pointer;
}
.l-question__correct {
  color: var(--color-base-green);
}
.l-question__correct::before {
  content: "◯";
  position: absolute;
  color: var(--color-base-green);
  left: -30px;
}
.l-question__incorrect {
  color: var(--color-base-orange);
}
.l-question__incorrect::before {
  content: "X";
  position: absolute;
  color: var(--color-base-orange);
  left: -30px;
}
.l-question__answer p {
  margin: 0;
}

/* Related lesson */
.l-rel {
  margin: 100px 0;
}
.l-rel__title {
  text-align: center;
  margin-bottom: 50px;
}
.l-rel__lessons {
  display: flex;
  gap: 2%;
}
.l-rel__card {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 23.5%;
  background-color: white;
  border-radius: var(--radius-sm);
  box-shadow: 1px 1px 5px 1px var(--color-shadow);
}
.l-rel__card__img {
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}
.l-rel__card__details {
  padding: var(--space-sm) var(--space-xs);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l-rel__card__title {
  font-size: var(--text-base-size);
  line-height: 1.2;
}
.l-rel__card__intro {
  font-size: var(--text-sm);
  margin-bottom: var(--space-md);
}
a.l-rel__card__button {
  color: var(--color-base-text);
  background-color: var(--color-base-limegreen);
  text-align: center;
  width: 100%;
  border-radius: var(--radius-xs);
  margin: 10px 0;
  text-transform: capitalize;
  padding: 6px 15px;
}
a.l-rel__card__button:hover {
  background-color: var(--color-sec-darklime);
}
a.l-rel__card__button::before {
  content: none;
}
/* 
* Blocks 
*/
/* Examples */
.blk-examples {
  padding: 30px 10px;
  background-color: var(--color-base-white);
  border: solid var(--color-base-brown) 2px;
  position: relative;
  margin-bottom: 3rem;
}
.blk-examples > div:first-child {
  position: absolute;
  top: -21px;
  padding: 5px 10px;
  border: solid var(--color-base-brown) 2px;
  background-color: var(--color-sec-lightlime);
  border-radius: var(--radius-sm);
}

.blk-examples p {
  font-weight: 500;
  margin-bottom: var(--space-xxs);
  padding-left: 15px;
  position: relative;
  color: inherit;
}
.blk-examples p::before {
  content: "・ ";
  position: absolute;
  left: -10px;
}

/* Wrong Right */
.blk-wr-wrapper {
  padding: 30px 10px;
  background-color: var(--color-base-white);
  border: solid var(--color-base-brown) 2px;
  position: relative;
  margin-bottom: 3rem;
}
.blk-wr-wrapper > div:first-child {
  position: absolute;
  top: -21px;
  padding: 5px 10px;
  border: solid var(--color-base-brown) 2px;
  background-color: var(--color-sec-lightlime);
  border-radius: var(--radius-sm);
}
.blk-wr {
  margin-bottom: 2rem;
}
.blk-wr:last-child {
  margin-bottom: 0;
}
.blk-wr__ex {
  display: flex;
}
.blk-wr p {
  margin: 0;
  font-weight: 500;
}
.blk-wr__ex {
  padding-left: 20px;
  position: relative;
}
.blk-wr__ex--wrong {
  color: red;
}
.blk-wr__ex--right {
  color: green;
}
.blk-wr__icon {
  position: absolute;
  height: 25px;
  width: 25px;
  left: -4px;
  top: 8px;
}
