.accordian__open {
  display: block;
}
.accordian__closed {
  display: none;
}
/* Contact Page (cf) */
.cf__title {
  text-align: center;
  margin-top: 50px;
}
.cp__accordian-heading {
  background-color: var(--color-sec-darkcream);
  border: 1px solid var(--color-base-limegreen);
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  color: var(--color-base-green);
  padding: 22px;
}
.cp__accordian-heading button {
  display: flex;
  line-height: 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-sec-darkcream);
  color: var(--color-base-brown);
  color: var(--color-base-green);
  border: none;
}
.cp__accordian-heading span {
  line-height: 1;
  font-size: var(--text-xxs);
  font-weight: 400;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-base-white);
  background-color: var(--color-sec-darkcream);
  color: var(--color-base-limegreen);
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  padding: 0 0 3px 0;
  margin: 5px 0 0 20px;
}
.cp__accordian-content {
  margin: -24px 0 25px 0;
  background-color: var(--color-base-white);
  padding: var(--space-md);
  border-radius: 0 0 var(--radius-sm) var(--radius-sm);
  border: 1px solid var(--color-base-limegreen);
}
.cp__textinfo {
  margin: 0 auto;
  max-width: 700px;
}
/* Contact Form (cf) */
.cf-header {
  background-color: var(--color-sec-darkcream);
  border-radius: var(--radius-sm) var(--radius-sm) 0 0;
  border: 1px solid var(--color-base-limegreen);
  padding: 22px;
}
.cf-title {
  text-align: left;
  margin: 0;
  line-height: 1;
}
.cf-wrapper {
  margin-bottom: 80px;
}
.cf-main {
  padding: var(--space-md);
  background-color: var(--color-base-white);
  border-radius: 0 0 var(--radius-sm) var(--radius-sm);
  border-left: 1px solid var(--color-base-limegreen);
  border-bottom: 1px solid var(--color-base-limegreen);
  border-right: 1px solid var(--color-base-limegreen);
}
.cf__half {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cf__half > .input-group {
  flex: 0 0 49%;
}
.cf textarea {
  min-height: 200px;
}
.cf .submit {
  max-width: 300px;
}
.cf__remaining {
  font-size: var(--text-sm);
  color: var(--color-base-green);
}
.cf__remaining--zero {
  font-size: var(--text-sm);
  color: var(--color-base-orange);
}
/* contact index */
.frco-idx {
  width: 100%;
}
.frco-idx__heading {
  text-align: center;
}
.frco-idx__links {
  display: flex;
  gap: 2rem;
}
a.frco-idx__link {
  box-shadow: 1px 1px 5px 1px var(--color-shadow);
  flex: 1;
  height: 200px;
  border-radius: var(--radius-sm);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-lg);
  color: black;
}
a.frco-idx__link--tel {
  background-color: var(--color-base-limegreen);
}
a.frco-idx__link--form {
  background-color: var(--color-base-orange);
}

a.frco-idx__link::before {
  content: none;
}

/* contact telephone */
.frco-tel__number {
  font-size: var(--text-xl);
  margin-bottom: 3rem;
}

.frco-tel__times {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.frco-tel__time {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
