.er-main {
  background-color: var(--color-brand-cream);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.er-main--swoosh {
  background-color: var(--color-brand-cream);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
