:root {
  /* base colors */
  --color-base-green: rgb(63, 115, 8);
  --color-base-cream: rgb(250, 245, 234);
  --color-base-red: rgb(171, 18, 28);
  --color-base-dbrown: rgb(58, 35, 0);
  --color-base-yellow: rgb(255, 193, 37);
  /* tints and shades */
  --color-shade-green1: rgb(56, 103, 7);
  --color-shade-red1: rgb(153, 16, 25);
  --color-shade-yellow1: rgb(229, 173, 33);

  /* --color-base-olive: rgba(49, 84, 7, 1); */
  /* --color-base-lcream: rgb(253, 249, 240); */
  /* --color-base-dcream: rgb(233, 214, 167); */

  --color-lgreen: rgba(133, 242, 17, 1);
  --color-pink: rgba(215, 76, 162, 1);
  --color-purple: rgba(146, 12, 166, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-dgrey: rgba(128, 128, 128, 1);
  --color-grey: rgba(204, 204, 204, 1);
  --color-lgrey: rgba(246, 246, 246, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-background: rgb(234, 232, 227);
  --color-shadow: rgba(0, 0, 0, 0.2);
}
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-base-cream);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
* Base styles
*/

/* Typograpy*/
body {
  font-family: "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ ゴシック", "MS Gothic",
    "HiraKakuProN-W3", "TakaoExゴシック", "TakaoExGothic", "MotoyaLCedar",
    "Droid Sans Japanese", sans-serif;
  color: var(--color-base-dbrown);
}
.en {
  font-family: "Montserrat", sans-serif;
}
p {
  line-height: 2;
  letter-spacing: 2.6px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

/* Containers */
.text-container {
  margin: 0 auto;
  max-width: 700px;
}
