/* ----------------------------- 
Home Video Banner
-------------------------------- */
#video-banner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, auto);
  background-color: var(--color-brand-cream);
  height: calc(100% - 78px);
  margin-bottom: 78px;
}
.ho-vbanner__wrapper {
  grid-column: 1/13;
  grid-row: 1/6;
}
.ho-vbanner__video {
  width: 100%;
  height: calc(100vh - 156px);
  object-fit: cover;
}
.ho-vbanner__promo {
  grid-column: 2/12;
  grid-row: 2/5;
}
.ho-vbanner__title-en {
  color: var(--color-brand-brown);
  font-family: var(--font-en-primary);
  font-weight: 600;
  margin: 0;
  line-height: 1;
}
.ho-vbanner__title-en > span {
  color: var(--color-brand-green);
}
.ho-vbanner__title-ja {
  color: var(--color-brand-brown);
  font-family: var(--font-jp-primary);
  font-weight: 600;
  margin: 0;
  line-height: 1;
}
.ho-vbanner__title-ja > span {
  display: none;
}
@media (min-width: 768px) {
  .ho-vbanner__video {
    border-radius: var(--radius-large) 0 0 var(--radius-large);
  }
  .ho-vbanner__wrapper {
    grid-column: 3/13;
    grid-row: 1/6;
  }
  .ho-vbanner__promo {
    background-color: transparent;
    grid-column: 1/5;
    grid-row: 3/6;
  }
}
@media (min-width: 1024px) {
  .ho-vbanner__promo {
    margin-top: 200px;
    grid-column: 2/7;
    grid-row: 4/5;
    background-color: rgba(255, 248, 230, 0.4);
    border-radius: var(--radius-medium);
    padding: 10px 10px 20px 0;
  }
  .ho-vbanner__title-en {
    font-size: 64px;
    line-height: 1.4;
  }
  .ho-vbanner__title-ja {
    font-size: 24px;
    margin-top: 40px;
  }
}
/**
* Why study with us 
*/
.ho-why {
  display: flex;
}
@media (min-width: 48rem) {
  .ho-why {
    flex-direction: row;
    gap: var(--r20px);
  }
  .ho-why > div {
    flex: 1;
  }
  .ho-why__img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/**
*  Our Services 
*/
.ho-services-swoosh {
  margin-bottom: -10px;
}
.ho-services {
  background-color: var(--color-brand-brown);
  padding: 80px 50px 160px;
}
.ho-services__cards {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.ho-services__card__img {
  border-radius: 40px;
}
.ho-services__details {
  padding: 60px 0 80px 0;
  position: relative;
}
.ho-services__details > h3,
.ho-services__details > p {
  color: var(--color-brand-white);
}
.ho-services__details > p {
  margin: 0;
}
.ho-services__details > a {
  color: var(--color-brand-white);
  font-weight: var(--font-w-semi-bold);
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  max-width: max-content;
  padding: 13px 26px;
  border: 2px solid var(--color-brand-white);
  border-radius: 100px;
  transition: 0.3s all ease-in;
}
.ho-services__details > a::before {
  content: none;
}
.ho-services__details > a:hover {
  background-color: var(--color-brand-white);
  color: var(--color-brand-brown);
  transition: 0.3s all ease-out;
}

/* ----------------------------- 
Testimonials (test)
-------------------------------- */
#testimonials {
  padding: 180px 0 120px 0;
}
.ho-test {
  display: flex;
  gap: 100px;
  padding: 80px 0;
  position: relative;
}
.ho-test > div {
  flex: 1;
}
.ho-test:last-of-type {
  flex-direction: row-reverse;
}
.ho-test__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ho-test__detail__lead {
  font-size: calc(var(--r20px) + var(--r16px));
  font-weight: 600;
  position: relative;
}
.ho-test__detail__lead::before {
  content: "“";
  position: absolute;
  color: var(--color-brand-beige);
  font-size: calc(var(--r10px) * 20);
  z-index: -1;
  line-height: 1;
  top: -40px;
  left: -55px;
}
.ho-test__detail__person {
  font-size: var(--r18px);
  font-weight: 600;
}
.ho-test__detail__person > span {
  padding-left: var(--r18px);
}
.ho-test__detail__comment {
  font-size: var(--r16px);
}
.ho-test__img {
  border-radius: 80px;
}
.ho-test__button-wrapper {
  position: absolute;
  bottom: 0;
  right: -85px;
  left: auto;
}
.ho-test:last-of-type .ho-test__button-wrapper {
  right: auto;
  left: -85px;
}
/**
*     Prices 
*/
#prices {
  margin-bottom: 160px;
}
.ho-prices {
  margin-left: 120px;
  padding: 160px 120px 200px 225px;
  background-color: var(--color-brand-brown);
  border-radius: 80px 0 0 80px;
  position: relative;
}

/* price slider */
.ho-prices__wrapper .swiper {
  padding: 100px 0 0 0;
}
.ho-prices__button-wrapper {
  position: absolute;
  bottom: -74px;
  right: 120px;
}
.ho-prices__wrapper .swiper-button-prev {
  width: 60px;
  height: 60px;
  background-color: var(--color-brand-white);
  border-radius: 50%;
  right: 100px;
  left: auto;
  top: 30px;
  color: var(--color-brand-brown);
}
.ho-prices__wrapper .swiper-button-prev::after {
  content: "➜";
  transform: rotate(180deg);
  padding: 0 0 4px 0;
}

.ho-prices__wrapper .swiper-button-next {
  width: 60px;
  height: 60px;
  background-color: var(--color-brand-white);
  border-radius: 50%;
  right: 10px;
  top: 30px;
  color: var(--color-brand-brown);
}
.ho-prices__wrapper .swiper-button-next::after {
  content: "➜";
  padding: 1px 0 0 0;
}

.ho-price {
  border-radius: var(--radius-medium);
  padding: 50px;
  width: min-content;
  background-color: var(--color-sec-lightbrown);
}
.ho-price > h3 {
  color: var(--color-brand-yellow);
  text-align: center;
  font-family: var(--font-en-primary);
  font-weight: 600;
  font-size: calc(var(--r20px) + var(--r16px));
  line-height: 1;
  margin: 0 0 16px 0;
}
.ho-price > p {
  color: var(--color-brand-white);
  text-align: center;
  font-family: var(--font-jp-primary);
  font-weight: 600;
  font-size: var(--r12px);
  line-height: 1;
  margin: 0 0 25px 0;
}
.ho-price > table {
  border-collapse: collapse;
}
.ho-price > table > tbody > tr {
  border-top: solid 1px var(--color-base-white);
}
.ho-price > table > tbody > tr > td {
  color: var(--color-brand-white);
  padding: 20px 0 20px 0;
  font-size: var(--r16px);
  font-family: 600;
}
.ho-price > table > tbody > tr > td:nth-of-type(odd) {
  text-align: left;
  min-width: 250px;
}
.ho-price > table > tbody > tr > td:nth-of-type(even) {
  text-align: center;
  display: flex;
  min-width: 110px;
  justify-content: center;
  align-items: center;
}

/**
*    Teachers 
*/

.ho-teachers {
  padding: 80px 120px 110px 120px;
}
.ho-teachers__list {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  margin: 0 0 80px 0;
}
.ho-teacher__card {
  width: min-content;
}
a.ho-teacher__card-link::before {
  content: none;
}
.ho-teacher__card-img-wrapper {
  position: relative;
  border-radius: 50%;
  width: max-content;
  margin-bottom: 40px;
}
.ho-teacher__card-img {
  border-radius: 50%;
}
.ho-teacher__card-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-brand-green);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0%;
  transform: scale(0);
  transition: transform 0.3s ease-out, opacity 0.2s ease-in;
  border-radius: 50%;
  z-index: 4;
}
.ho-teacher__card-img-wrapper:hover .ho-teacher__card-overlay {
  width: 100%;
  cursor: pointer;
  opacity: 90%;
  transform: scale(1);
}
.ho-teacher__card-img-wrapper:hover .ho-teacher__card-overlay {
  width: 100%;
  cursor: pointer;
}
.ho-teacher__card-overlay-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-brand-white);
  text-align: center;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}
.ho-teacher__card-overlay-inner > h3 {
  color: var(--color-brand-white);
  font-family: var(--font-en-primary);
  font-weight: 600;
  font-size: calc(var(--r12px) + var(--r20px));
  line-height: 1;
  margin: 0;
}
.ho-teacher__card-overlay-inner > p:last-of-type {
  font-weight: 700;
  margin: 0;
  line-height: 1;
  padding: 40px 0;
}
.ho-teacher__card-overlay-inner > svg {
  height: calc(var(--r20px) * 2);
  width: calc(var(--r20px) * 2);
}
.ho-teacher__card-overlay:hover .ho-teacher__card-overlay-inner {
  opacity: 100%;
}
.ho-teacher__card-details > h3 {
  text-align: center;
  font-size: calc(var(--r20px) + var(--r16px));
  font-family: var(--font-en-primary);
  font-weight: 600;
}
.ho-teacher__card-details > p {
  margin: 0;
  text-align: center;
  font-size: var(--r14px);
}
.ho-teachers__see-more {
  display: flex;
  justify-content: center;
}
/**
*   Blog lessons 
*/
#blog-lessons {
  background-color: var(--color-brand-white);
}
.ho-blog-lessons {
  padding: 80px 120px 80px 120px;
}
.ho-blog__slider-wrapper {
  margin: 0 0 80px 0;
}

/* blog slider */
.ho-blog-lessons .swiper {
  padding: 100px 0 0 0;
}
.ho-blog-lessons .swiper-button-prev {
  width: 60px;
  height: 60px;
  background-color: var(--color-brand-brown);
  border-radius: 50%;
  right: 100px;
  left: auto;
  top: 30px;
  color: var(--color-base-white);
}
.ho-blog-lessons .swiper-button-prev::after {
  content: "➜";
  transform: rotate(180deg);
  padding: 0 0 4px 0;
}

.ho-blog-lessons .swiper-button-next {
  width: 60px;
  height: 60px;
  background-color: var(--color-brand-brown);
  border-radius: 50%;
  right: 10px;
  top: 30px;
  color: var(--color-base-white);
}
.ho-blog-lessons .swiper-button-next::after {
  content: "➜";
  padding: 1px 0 0 0;
}

a.ho-blog-link::before {
  content: none;
}
.ho-blog__card-img-wrapper {
  position: relative;
  border-radius: 40px;
}
.ho-blog__card-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-brand-green);
  overflow: hidden;
  width: 0;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  border-radius: 40px;
  z-index: 4;
}
.ho-blog__card-img-wrapper:hover .ho-blog__card-overlay {
  width: 100%;
  cursor: pointer;
  opacity: 90%;
}
.ho-blog__card-img-wrapper:hover .ho-blog__card-overlay {
  width: 100%;
  cursor: pointer;
}
.ho-blog__card-overlay-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-brand-white);
  text-align: center;
  opacity: 0;
  transition: 0.2s opacity ease-in-out 0.1s;
}
.ho-blog__card-overlay-inner > h3 {
  color: var(--color-brand-white);
  font-family: var(--font-en-primary);
  font-weight: 600;
  font-size: calc(var(--r12px) + var(--r20px));
  line-height: 1;
  margin: 0;
}
.ho-blog__card-overlay-inner > p:last-of-type {
  font-weight: 700;
  margin: 0;
  line-height: 1;
  padding: 40px 0;
}
.ho-blog__card-overlay-inner > svg {
  height: calc(var(--r20px) * 2);
  width: calc(var(--r20px) * 2);
}
.ho-blog__card-overlay:hover .ho-blog__card-overlay-inner {
  opacity: 100%;
}
.ho-blog__card-img {
  border-radius: 40px;
}
.ho-blog__card-details {
  margin-top: 40px;
  color: var(--color-brand-brown);
}
.ho-blog__card-details p {
  line-height: 1;
  margin: 0;
}
.ho-blog__card-details p:first-of-type {
  color: var(--color-brand-green);
  font-family: var(--font-en-primary);
  font-weight: 600;
  font-size: var(--r18px);
  margin-bottom: 20px;
}
.ho-blog__card-details p:first-of-type > span {
  color: var(--color-brand-brown);
  text-transform: uppercase;
}
/* more lesson */
.ho-blog__more-lessons {
  display: flex;
  justify-content: center;
}
