/* ----------------------------- 
Home Video Banner
-------------------------------- */
#video-banner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto auto;
  background-color: var(--color-base-cream);
  height: calc(100% - 78px);
  margin-bottom: 78px;
}
.vbanner__wrapper {
  grid-column: 1/13;
  grid-row: 1/6;
}
.vbanner__video {
  width: 100%;
  height: calc(100vh - 156px);
  object-fit: cover;
}
.vbanner__promo {
  background-color: rgba(0, 0, 0, 0.15);
  grid-column: 2/12;
  grid-row: 2/5;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  align-items: center;
  padding: var(--component-padding);
}
.vbanner__text {
  max-width: 300px;
}
.vbanner__title {
  color: var(--color-base-cream);
  font-size: var(--text-lg);
  text-align: center;
}
.vbanner__buttons {
  display: flex;
  gap: var(--space-sm);
}
@media (min-width: 992px) {
  .vbanner__video {
    border-radius: var(--radius-base) 0 0 var(--radius-base);
  }
  .vbanner__wrapper {
    grid-column: 5/13;
    grid-row: 1/6;
  }
  .vbanner__promo {
    background-color: transparent;
    grid-column: 1/5;
    grid-row: 3/6;
  }
  .vbanner__title {
    color: var(--color-base-green);
    font-size: var(--text-lg);
    text-align: center;
  }
  .vbanner__yellow {
    color: var(--color-base-orange);
  }
  .vbanner__red {
    color: var(--color-base-orange);
  }
}
@media (min-width: 1450px) {
  .vbanner__text {
    max-width: 500px;
  }
  .vbanner__title {
    font-size: var(--text-xl);
  }
  .vbanner__buttons {
    gap: var(--space-xxl);
  }
}
/* ----------------------------- 
Our services
-------------------------------- */
#why {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto auto auto auto;
  margin: 200px 0;
}
.why__heading {
  grid-column: 2/12;
  grid-row: 1 / 2;
}
.why__wrapper {
  grid-column: 2/12;
  grid-row: 4/6;
  display: flex;
  justify-content: space-between;
}
.why-point {
  height: 350px;
  width: 350px;
  border-radius: 200px;
  background-color: white;
}
/* ----------------------------- 
Our services
-------------------------------- */

.green-text {
  color: var(--color-base-green);
}
.cream-text {
  color: var(--color-base-cream);
}
.red-text {
  color: var(--color-base-red);
}
.yellow-text {
  color: var(--color-base-yellow);
}
.dark {
  background-color: var(--color-base-dbrown);
  color: var(--color-base-cream);
}
.green {
  background-color: var(--color-base-green);
  color: var(--color-base-cream);
}
.green h2 {
  color: var(--color-base-yellow);
}
.green-gradient {
  background: linear-gradient(
    0deg,
    var(--color-base-olive) 0%,
    var(--color-base-green) 100%
  );
  color: var(--color-base-cream);
}
.cream-gradient {
  background: linear-gradient(
    0deg,
    var(--color-base-dcream) 0%,
    var(--color-base-cream) 100%
  );
}

/*grid play */
