/*
* List Page
*/
#intro {
  margin-bottom: 120px;
}
/* upcomimg */
#upcoming {
  margin-bottom: 120px;
}
/* upcomimg--layout */
.le-lp-upcoming__exp-wrapper.a {
  grid-column: 3/6;
}
.le-lp-upcoming__exp-wrapper.b {
  grid-column: 7/10;
}
.le-lp-upcoming__exp-wrapper.c {
  grid-column: 11/14;
}
/* upcomimg--cards */
.le-lp-upcoming__exp__img-wrap {
  margin-bottom: 30px;
}
.le-lp-upcoming__exp__img {
  border-radius: var(--radius-medium);
}
.le-lp-upcoming__exp__details {
  display: flex;
  flex-direction: column;
}
.le-lp-upcoming__exp__dt {
  color: var(--color-brand-green);
  font-weight: var(--font-w-bold);
  font-family: var(--font-en-primary);
  display: flex;
  align-items: baseline;
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 20px;
}
.le-lp-upcoming__exp__dt > svg {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.le-lp-upcoming__exp__title {
  font-size: var(--font-size-xl);
  margin: 0 0 20px 0;
}
a.le-lp-upcoming__exp__link::before {
  content: none;
}
a.le-lp-upcoming__exp__link {
  color: var(--color-brand-green);
  background-color: var(--color-brand-white);
  font-weight: var(--font-w-bold);
  font-size: var(--font-size-s);
  line-height: 1;
  padding: 8px 14px;
  border-radius: 100px;
  align-self: flex-end;
  border: 2px solid var(--color-brand-green);
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
a.le-lp-upcoming__exp__link:hover {
  color: var(--color-brand-white);
  background-color: var(--color-brand-green);
}

/*
* Detail Page
*/

.lexix-cards {
  display: flex;
}
a.lexix-card-link {
}
a.lexix-card-link::before {
  content: none;
}
.lexix-card {
  max-width: 400px;
  background-color: white;
}
.lexix-card__details {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: black;
}
.lexix-card__details p {
  margin: 0;
}
.lexix-card__details button {
  align-self: flex-end;
  cursor: pointer;
}
.lexix__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
}
.lexix__figure {
  flex: 0 0 24%;
}

/* Detail Page (learning exprience detail page = lexdp)*/
.lexdp__heading {
  text-align: center;
  margin: 6rem auto 4rem auto;
  max-width: 700px;
}

.lexdp__heading h1,
.lexdp__heading h2 {
  margin: 0;
}

.lexdp__heading span {
  display: block;
  font-size: var(--text-xs);
  color: var(--color-base-limegreen);
  margin-bottom: -5px;
}
.lexdp__past-pictures {
  display: flex;
  gap: var(--space-sm);
}
.lexdp__map iframe {
  width: 100%;
  min-height: 400px;
}
.lexdp__schedule-table th,
.lexdp__schedule-table td {
  padding: 5px 10px;
}
.lexdp__schedule-table th > span {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* related lessons */
#lexdp-lessons {
  margin-bottom: 5rem;
}
.lexdp__lessons {
  display: flex;
}
.lexdp__lesson {
  background-color: white;
  flex: 0 0 350px;
}
