/**
* Staff Rounded Card
*/
a.c-staff-card__link {
  display: block;
  border-radius: 50%;
}
a.c-staff-card__link:before {
  content: none;
}
.c-staff-card__img-wrapper {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin-bottom: 15px;
}
/* overlay */
.c-staff-card__overlay {
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-brand-green);
  color: var(--color-brand-white);
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
.c-staff-card__overlay h3 {
  color: var(--color-brand-white);
  font-family: var(--font-en-primary);
  font-weight: var(--font-w-semi-bold);
  font-size: 4.5vw;
  margin: 10px 0 16px 0;
}
.c-staff-card__overlay p {
  color: var(--color-brand-white);
  font-family: var(--font-en-primary);
  font-weight: var(--font-w-bold);
  font-size: 3vw;
  margin-bottom: 15px;
}
.c-staff-card__overlay svg {
  width: 4.5vw;
  height: 4.5vw;
}
/* animation */
.c-staff-card__link:hover .c-staff-card__overlay {
  transform: scale(1);
  opacity: 85%;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out 0.1s;
}
/* details */
.c-staff-card__details {
  text-align: center;
}
.c-staff-card__details > h3 {
  font-size: var(--font-size-l);
}
.c-staff-card__details > p {
  font-size: var(--font-size-xs);
  margin-bottom: 0;
}

@media (min-width: 48rem) {
  .c-staff-card__img-wrapper {
    margin-bottom: 40px;
  }
  .c-staff-card__overlay h3 {
    font-size: 3.8vw;
  }
  .c-staff-card__overlay p {
    font-size: 1.8vw;
  }
  .c-staff-card__overlay svg {
    width: 3.5vw;
    height: 3.5vw;
  }
  .c-staff-card__details > h3 {
    font-size: var(--font-size-3xl);
  }
  .c-staff-card__details > p {
    font-size: var(--font-size-s);
  }
}
@media (min-width: 64rem) {
  .c-staff-card__overlay h3 {
    font-size: 2.3vw;
  }
  .c-staff-card__overlay p {
    font-size: 1.1vw;
  }
  .c-staff-card__overlay svg {
    width: 2.8vw;
    height: 2.8vw;
  }
}
@media (min-width: 75rem) {
  .c-staff-card__overlay h3 {
    font-size: 1.8vw;
  }
  .c-staff-card__overlay p {
    font-size: 0.8vw;
  }
  .c-staff-card__overlay svg {
    width: 2vw;
    height: 2vw;
  }
}
@media (min-width: 96rem) {
  .c-staff-card__overlay h3 {
    font-size: var(--font-size-5xl);
  }
  .c-staff-card__overlay p {
    font-size: var(--font-size-xl);
  }
  .c-staff-card__overlay svg {
    width: 40px;
    height: 40px;
  }
}

/**
* Numbered Horizontal Card
*/
.c-nh-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-brand-white);
  padding: 20px;
  border-radius: var(--radius-small);
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.c-nh-card__details {
  flex: 1 1 64%;
}
.c-nh-card__titles {
  display: flex;
  align-items: baseline;
  padding-bottom: 14px;
}
.c-nh-card__titles > h4,
.c-nh-card__titles > p {
  margin: 0;
  font-family: var(--font-en-primary);
  font-weight: var(--font-w-semi-bold);
  font-size: 22px;
  color: var(--color-brand-green);
  line-height: 1;
}
.c-nh-card__titles > p {
  padding-right: 10px;
}
.c-nh-card__titles > h4 {
  padding-right: 10px;
}
.c-nh-card__titles > p:last-of-type {
  font-family: var(--font-jp-primary);
  font-size: 12px;
}
.c-nh-card__text > p {
  margin: 0;
  font-size: var(--font-size-s);
}

/* card image */
.c-nh-card__img-wrapper {
  flex: 1 1 36%;
  overflow: hidden;
  border-radius: 20px;
}

@media (min-width: 48rem) {
  .c-nh-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-medium);
    padding: 40px;
    gap: 5%;
  }
  .c-nh-card__titles > p {
    padding-right: 14px;
  }
  .c-nh-card__titles > h4 {
    padding-right: 20px;
  }
}
@media (min-width: 75rem) {
  .c-nh-card__titles > h4,
  .c-nh-card__titles > p {
    font-size: 24px;
  }
  .c-nh-card__titles > p {
    padding-right: 10px;
  }
  .c-nh-card__titles > h4 {
    padding-right: 15px;
  }
  .c-nh-card__titles > p:last-of-type {
    font-size: 12px;
  }
}

@media (min-width: 96rem) {
  .c-nh-card__titles > h4,
  .c-nh-card__titles > p {
    font-size: 28px;
  }
  .c-nh-card__titles > h4 {
    padding-right: 15px;
  }
  .c-nh-card__titles > p:last-of-type {
    font-size: 16px;
  }
}
